@using Umbraco9.Core.Models.Elements
<div style="border: solid red 3px">
    <h1>Model Type: @Model.ModelContentType</h1>
    <h2>Title: @Model.Title</h2>
    <p>Subtext: @Model.Subtext</p>
</div>

@code {
    [Parameter]
    public HeroElementModel Model { get; set; }
}
