@page "/"
@using Umbraco9.Blazor.Services
@using Umbraco9.Core.Models.Elements
@using Umbraco9.Core.Models.Pages
@if (Model == null)
{
    return;
}
<h1>@Model.Title</h1>
<p>First Element on Homepage: @Model.Elements.FirstOrDefault()?.ModelContentType</p>

<HeroElementComponent Model="@HeroModel"/>

@code
{
    [Inject]public IContentDeliveryService ContentDeliveryService { get; set; }
    public HomepageModel Model { get; set; }
    public HeroElementModel HeroModel { get; set; }

    protected override async void OnInitialized()
    {
        if (ContentDeliveryService == null)
            return;
        
        Model = await ContentDeliveryService.GetHomepage();
        Console.WriteLine(Model.Elements.FirstOrDefault());
        HeroModel = Model.Elements.First() as HeroElementModel;
        StateHasChanged();
    }
}
